@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Contractor Monthly Claim System</h1>
    <p>A system for lecturers to manage motnhly claims in a efficiant way</p>
</div>
<div class="container text-center mt-4">
    <a class="btn btn-primary" asp-action="Create" asp-controller="Claims">Create Claim</a>
    <a class="btn btn-secondary" asp-action="Lecturer" asp-controller="Claims">View Claims</a>
</div>
