@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Contractor Monthly Claim System</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">A system for lecturers to manage motnhly claims in a efficiant way</a>.</p>
</div>
